.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
.idea/
.vscode/

node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

dist/
build/
.cache/
*.map

.prettierrc

vendor/
composer.lock

.env
.env.local
